{% extends "base.html" %}
{% block content %}
<body>
    <p>
        <div class="card mt-3">
             <div class="card-header">
                The todo name is <b>{{ todo.name }}</b>
             </div>
            <div class="card-body">
                The todo date is {{ todo.due_date }}
            </div>
        </div>
    </p>
    <div>
    You can update this todo or delete
        <li>
            <a href="/{{ todo.id }}/update/">Update this todo</a>
            or
            <a href="/{{ todo.id }}/delete/">Delete this todo</a>
        </li>
    </div>
</body>
{% endblock %}